@font-face {
  font-family: "Born Ready Slanted";
  src: url("BornReadySlanted-Regular.woff2") format("woff2"),
    url("BornReadySlanted-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
